page-home {
    .head {
        background-color: #257aa6;
        padding: 10px;
        border-radius: 2%;
        h1 {
            color: #ffffff;
            padding: 10px 0px 0px 0px;
            font-size: 35px;
        }
        img {
            height: 70px;
            width: 70px;
            padding: 5px 0px 0px 0px;
            float: left;
        }
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    } 

    .c{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: #7fe7cc;;
        border-radius: 50%;
        .c1{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            background-color:#ffffff;
            .c2{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color:#7fe7cc;
                img {
                    height: 50px;
                    width: 50px;
                }
            }
        }
        
    }

    .button-icon{
        height: 35px;
        width: 100px;
        background-color: #7fe7cc;
        border-radius: 10px;
        color: #ffffff;
        text-align: center;
    }

    .wave{  
        position: absolute;
        background: #7fe7cc;
        width: 830px;
        height: 830px;
        // border-radius: 50%;
        transform-origin: 50% 48%; //เคลื่อนที่
        border-radius: 43%;
        animation: drift 4000ms infinite linear;
        opacity: 0.3;
        bottom: -140%;
        right: -60%;
    }
    @keyframes drift {
        from {transform: rotate(0deg);}
        from {transform: rotate(360deg);}  
    }

    .wave.wave1{
        // animation: drift 4000ms infinite linear
        background: radial-gradient(clrcle at 100%,#c5fad9,#c5fad9 50%,rgba(0,0,0,0)100%);
        animation: drift 5000ms infinite linear;
        box-shadow: 0 50px 50px #aceacf;
    }
    .wave.wave2{
        // animation: drift 8000ms infinite linear
        background: radial-gradient(clrcle at 100%,#c5fad9,#c5fad9 50%,rgba(0,0,0,0)100%);
        animation: drift 5000ms infinite linear;
        box-shadow: 0 50px 50px #aceacf;
    }

}
