<ion-header>
  <ion-title class="head">
    <img src="/assets/imgs/plus-black-symbol.svg">
    <h1> Hospital Ticket </h1>
  </ion-title>
</ion-header>

<ion-content padding>

  <br>

  <ion-grid>
    <ion-row>
      <ion-col class="center" (click)="openPage()">
        <div class="c">
          <div class="c1">
            <div class="c2">
              <img src="/assets/imgs/maps-and-flags.svg">
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col class="center">
        <div class="c">
          <div class="c1">
            <div class="c2">
              <img src="/assets/imgs/user.svg">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <button ion-button round>ค้นหา</button>
      </ion-col>
      <ion-col class="center">
        <button ion-button round>ข้อมูลส่วนตัว</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>

  <ion-grid>
    <ion-row>
      <ion-col class="center" (click)="openPage2()">
        <div class="c">
          <div class="c1">
            <div class="c2">
              <img src="/assets/imgs/add.svg">
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col class="center" (click)="openPage3()">
        <div class="c">
          <div class="c1">
            <div class="c2">
              <img src="/assets/imgs/checklist.svg">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <button ion-button round>จองคิว</button>
      </ion-col>
      <ion-col class="center">
        <button ion-button round>คิวของคุณ</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>

  <button ion-button full color="danger">
    <ion-icon> ออกจากระบบ </ion-icon>
  </button>

  <br>

  <div class="wave"></div>
  <div class="wave wave1"></div>
  <div class="wave wave2"></div>

</ion-content>