page-book-queue {
    .head {
        background-color: #7fe7cc;
        padding: 0px;
        border-radius: 2%;
        h1 {
            text-align: center;
            font-size: 20px;
            color: #ffffff;
        }
    
        h2 {
            font-size: 20px;
            font-weight: bold;
            color: #ffffff;
        }
    }


    .img-hosp {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        float: left;
      }

    .box-hosp {
        // background-color: #7fe7cc;
        margin: 0px 0px 0px 120px;
        padding:5px;
        p {
            font-size: 12px;
            padding:0px;
            margin:5px;
        }
    }

    .menu-home{
        // width: 200px;
        height: 100px;
        background: #7fe7cc;
        border-radius: 50%;
    }
    .menu-home-active{
        height: 100px;
        background: #7fe7cc;
        border-radius: 50%;
    }
    .menu-home-close{
        height: 100px;
        border-style: solid;
        border-radius: 50%;
        border-color: #7fe7cc;
        border-width: 3px;
    }
    .menu-top{
        padding-right:20px;
        padding-left: 28px;
        padding-top: 30px; 
    }
    .menu-top1{
        padding-right:28px;
        padding-left: 28px;
        padding-top: 10px; 
    }

    h2 {
        font-size: 18px;
    }
}
