<!--
  Generated template for the BookQueuePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-title class="head">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div (click)="backPage()">
            <h2>
              <ion-icon name="arrow-round-back"></ion-icon>
            </h2>
          </div>
        </ion-col>
        <ion-col>
          <h1>จองคิว</h1>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-title>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="img-hosp" src="/assets/imgs/nu-hosp.jpg">
        <div class="box-hosp">
          <p style="font-size: 15px; font-weight: bold;">โรงพยาบาลมหาวิทยาลัยนเรศวร</p>
          <p>
            <ion-icon name="md-pin"> โรงพยาบาลมหาวิทยาลัยนเรศวร</ion-icon>
          </p>
          <p>
            <ion-icon name="md-alarm" style="color:crimson;"> รออีก 2 คิว</ion-icon>
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>ประเภท</ion-label>
          <ion-select [(ngModel)]="toppings">
            <ion-option>ทั่วไป</ion-option>
            <ion-option>Black Olives</ion-option>
            <ion-option>Extra Cheese</ion-option>
            <ion-option>Mushrooms</ion-option>
            <ion-option>Pepperoni</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>แพทย์</ion-label>
          <ion-select [(ngModel)]="toppings">
            <ion-option>หมอ A</ion-option>
            <ion-option>หมอ B</ion-option>
            <ion-option>หมอ C</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>อาการ</ion-label>
            <ion-input placeholder="   ...กรุณากรอกอาการเบื้อต้น...   "></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>


  <button ion-button full color="secondary">
    <ion-icon> จองคิว </ion-icon>
  </button>


</ion-content>