page-search {

    .head {
        background-color: #7fe7cc;
        padding: 0px;
        border-radius: 2%;
        h1 {
            text-align: center;
            font-size: 20px;
            color: #ffffff;
        }
    
        h2 {
            font-size: 20px;
            font-weight: bold;
            color: #ffffff;
        }
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    #map{
        height: 100%;
        width: 100%;
    }
}
