<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-title class="head">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div (click)="backPage()">
                <h2>
                  <ion-icon name="arrow-round-back"></ion-icon>
                </h2>
              </div>
            </ion-col>
            <ion-col>
              <h1>ค้นหาตำแหน่ง</h1>
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-title>
</ion-header>

<ion-content padding>

  <div #map id="map"></div>

</ion-content>