<!--
  Generated template for the QueuePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-title class="head">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div (click)="backPage()">
              <h2>
                <ion-icon name="arrow-round-back"></ion-icon>
              </h2>
            </div>
          </ion-col>
          <ion-col>
            <h1>คิวของคุณ</h1>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="img-hosp" src="/assets/imgs/nu-hosp.jpg">
        <div class="box-hosp">
          <p style="font-size: 15px; font-weight: bold;">โรงพยาบาลมหาวิทยาลัยนเรศวร</p>
          <p>
            <ion-icon name="md-pin"> โรงพยาบาลมหาวิทยาลัยนเรศวร</ion-icon>
          </p>
        </div>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <ion-col>
        <p class="center" style="font-weight: bold;">หมายเลขคิวของคุณ</p>
        <h1 class="center" style="font-weight: bold;">A053</h1>
      </ion-col>
      <ion-col>
        <p class="center" style="font-weight: bold;">รออีก (คิว)</p>
        <h1 class="center" style="font-weight: bold;">4</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="center">
          <ion-icon name="md-calendar"> 05/04/2019</ion-icon>
        </p>
        <p class="center">ประเภท</p>
        <p class="center">แพทย์</p>
        <p class="center">อาการ</p>
      </ion-col>
      <ion-col>
        <p>
          <ion-icon name="md-alarm"> 12:56:56 </ion-icon>
        </p>
        <p>ผู้ป่วยทั่วไป</p>
        <p>หมอ A</p>
        <p>ปวดหัวนอนไม่หลับ กระสับกระส่าย</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button full color="danger">
    <ion-icon> ยกเลิกการจองคิว </ion-icon>
  </button>


</ion-content>