page-queue {

    .head {
        background-color: #7fe7cc;
        padding: 0px;
        border-radius: 2%;
        h1 {
            text-align: center;
            font-size: 20px;
            color: #ffffff;
        }
    
        h2 {
            font-size: 20px;
            font-weight: bold;
            color: #ffffff;
        }
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .img-hosp {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        float: left;
      }

    .box-hosp {
        // background-color: #7fe7cc;
        margin: 10px 0px 0px 120px;
        padding:5px;
        p {
            font-size: 12px;
            padding:0px;
            margin:5px;
        }
    }
}
